<ion-modal-view>
    <div style="position: relative; height:100%">   
        <div style="    text-align: center;    margin-top: 20px;">  
            <img src="img/scan.png" style="margin: auto">
        </div>
        
        <form ng-submit="checkCardUid(cardUid)">
            <input type="password" name="cardUid" ngEnter="checkCardUid(cardUid)" ng-model="cardUid" id="cardUid" ng-blur="cardUidBLur" capitalize />
        </form>
        
        <ion-scroll style="height: 45%;">
            <div id="listCustomers">
                <ion-list class="listCustomers">
                    <ion-item class="item-small" ng-repeat="item in customers" >
                        <div style="width: auto; float: left"><span class="button">{{ item.cardUid}}</span></div> 
                        <div style="width: 90px; float: right; text-align:right"><span class="button ">{{ (item.amount) + " jETONS"}}</span></div>
                    </ion-item>
                </ion-list>
            </div>   
        </ion-scroll>
        
        <div style="position: absolute; width: 100%; bottom: 0;">
            <button class="button button-full button-balanced " ng-click="closePaymentModal()" ng-class="{disabled: resteAPayer > 0}"role="alert" >
                Reste a payer {{ (resteAPayer) + " Jetons"}}
            </button>
        </div>
    </div>
</ion-modal-view>