<ion-scroll id="catalogScroll" ng-init="refreshCatalogScroll()" style="width: 100%; height: 572px; margin-bottom: 10px ">
    <div class="row" ng-repeat="product in products" ng-if="$index % productPerRow === 0">                    
        <div class="prod-content col col-{{ 100 / productPerRow}}" ng-repeat="n in range(0, productPerRow - 1)" ng-if=" $parent.$parent.$index + $index < products.length">
            {{ product = products[$parent.$parent.$index + n];""}}
            <div  ng-include="'templates/product_mosaic.html'"></div>
        </div>                    
    </div>
</ion-scroll>

<ion-list id="history" ng-show="hist.length">
    <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in hist | limitTo:4" ng-click="showHistoryModal($index)">
        <div style="width: auto; float: left"><span class="button button-title">{{ item.customers[0].firstname}} {{ item.customers[0].lastname}}</span></div> 
        <div style="float: right">            
            <span id="qtt-{{ item.getId()}}" class="button button-number">{{ item.customers[0].amount | number}}</span>
        </div>               
    </ion-item>
</ion-list>