<ion-view view-title="Settings">
    <ion-content class="padding">
        <ion-list>

            <label class="item item-input item-select">
                <div class="input-label">
                    Point de vente
                </div>
                <select ng-model="posId" ng-change="reloadPos(posId)">
                    <option value="43">Bar de la Tour</option>
                    <option value="45">Bar du Château</option>
                    <option value="46">Bar Guinguette</option>
                    <option value="47">Bar Camping</option>
                    <option value="48">Bar Raggaravane</option>
                    <option value="49">Bar Acacias</option>
                    <option value="51">Bar à jus Amusoir</option>
                    <option value="52">Bar VIP</option>
                    <option value="53">Bar SPA</option>
                </select>
            </label>


        </ion-list>
    </ion-content>
</ion-view>
