<ion-tabs class="tabs-icon-top tabs-bottom tabs-color-active-positive">

  <!-- Basket Tab -->
  <ion-tab title="Basket" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/basket">
    <ion-nav-view name="tab-basket" id="basketTab"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab 
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
