.bar-stable.bar.bar-header{
    background-color: #000;
    height:70px;
}
.bar.bar-stable .title{
    color: #fff;
    background-image: url("../img/by-emisys-logo.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 93px 60px;
    height:70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 23px;
    text-align: center;
}
.pane{
    background-color: #db4454;
    color: #fff;
    background-image: url("../img/byemisys-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}
.has-header {
    top: 70px;
}
.prod-content .btn.btn-success img{
    display: block;
    border:1px solid #000;
}
.button.button-big, .button.button-balanced {
    background-color: #36bc9b;
    padding-top: 9px;
    padding-bottom: 10px;
    height: 70px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    border-radius: 6px;
}
.button.button-balanced.red {
	background-color: rgb(219, 68, 84);
}
.modal .button.button-balanced {
    padding-top: 0px;
	margin-bottom: 0;
	border-radius: 0;
}

.tabs-top > .tabs,
.tabs.tabs-top{
    top: 0;
}
.has-tabs-top {
    top: 70px;
}
.tab-nav.tabs {
    background-color: #db4454;
    height: 60px;
    padding-top: 5px;
    top: 0;
}
.tab-nav.tabs {
    background-color: #000;
    height: 70px;
    padding-top: 10px;
    top: 0;
    color: #fff;
    background-image: url("../img/by-emisys-logo.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 93px 60px;
}
ion-tabs.tabs-color-active-positive .tab-item{
    color: #fff;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated{
    color:#fff;
}
.item{
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    margin-bottom: 10px;
}
#basketScroll .item{
	background-color: transparent;
}
.listCustomers { max-height:295px;overflow:hidden; }
.item-small { padding: 0px; width: 95%; margin: 5px auto }

#cardUid, #cardUid2 {     
    /*border: 1px solid black;*/
    color: white;
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.item-complex .item-content,
.item-radio .item-content{
    padding: 10px 16px 10px 16px;
}
.item-complex.item-icon-right .item-content{
    padding-right: 16px!important;
}
.button-number{ 
    color: rgb(255, 255, 255); 
    background-color: rgb(54, 188, 155); 
}
.item-icon-right .icon.icon-minus {
    right: 8px;
}

.button-title {
    background-color: transparent;
    padding-left:0px;
}

.button-delete {
    color: rgb(219, 68, 84);
    font-size: 16px;
    border: 1px solid rgb(219, 68, 84);
}

.item-icon-right .icon.ion-minus {
    right: 8px!important;
}
.button-price{
 min-width:80px;
 border: 1px solid rgb(51, 51, 51);
}
.addToCartItem {
	position: absolute;    
	bottom: 0px;   
	background-color: rgba(0, 0, 0, 0.8);
    width: 100%;    
	height: 30px;    
	padding: 4px;    
	color: white;
	text-align: center;
}
#cart_list .item {
	border: 0;
	text-align: left;
	padding: 0 0 0 10px;
	background-color:transparent;
	margin-bottom: 5px;
}
#cart_list {
	text-align: center;
	margin-top: 20px;
	width: 50%;
	float: left;
	border: 0;
	padding: 0 10px;
}
#cart_list > div {
	border: 1px solid #666;
}
.modal {
    top: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: relative;
}
.modal-wrapper {
    width: 60%;
    margin: 70px auto 0;
}
.modal table {
    border: 1px solid rgb(0, 0, 0);
    width: 95%;
    margin: 0px auto;
}
.modal th {
	background-color: #dddddd;
	border-bottom: 1px solid #000;
	padding: 5px;
}
.modal td {
	text-align: center;
	padding: 5px;
	font-size: 16px;
}
#history .item {
	padding: 0px 0 0 10px;
	margin: 5px 10px;
        width: 46%;
        float: left;
}
#history .item .button {
	min-height: 30px;
        line-height: 32px;
}

#catalogScroll.scroll-view.scroll-y 
{ 
    height: 572px;
    max-height: 572px;
    margin-bottom: 10px;
}